<h1>Review Index</h1> 

<% @reviews.each do |review| %>
    <%= render partial: 'review_info', locals: {review: review} %>
    &nbsp;&nbsp
    <%= link_to review.created_by, user_path(review.user) %>
    <br>
<% end %>